<h1>Tweet Generator</h1>

<%= simple_form_for @tweet do |f| %>
  <%= f.input :long, required: true, label: "Copy and paste a long text here", label:false, placeholder: "original text" %>
  <%= f.button :submit, 'Create tweet', class: 'btn btn-primary' %>
<% end %>